body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

container {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
}

.left-panel {
    box-sizing: border-box;
    background-color: white;
    border-color: #242424;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    width: 41%;
    margin: 10% 2%;
    padding: 10em 2em;
    text-align: center;
}

.left-panel input {
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 1.2rem;
}

.left-panel h1 {
    font-size: 3rem;
    margin: 0;
    padding: 10px;
    width: 100%;
    color:#242424;
}
.left-panel p {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    width: 100%;
    color:#242424;
}

form {
    padding: 0;
    margin: 0;
    width: 100%;
}
form input {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4em;
    border-radius: 2em;
    box-shadow: none;
    outline: none;
}

.right-panel {
    box-sizing: border-box;
    width: 58%;
    padding: 0;
    margin: 1%;
}

#response {
    background-color: #242424;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-color: #242424;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
}

#response .response-content {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    font-family: 'Arial';
}

.result-item .result-header {
    background-color: #f8f8f8;
    width: 100%;
    border-color: #242424;
    border-width: 1px;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    display: flex;
    align-items: center;
}

.result-item .result-header a {
    color:#242424;
    text-decoration: none;
}

.result-item .result-header .result-expander {
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #f0f0f0;
}

.result-item .result-content {
    height: 400px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    background-color: white;
}

.result-item .content-text {
    line-height: 1.5;
    padding: 10px;
}

code {
    padding: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: #f0f0f0;
}

pre code {
    padding: 0;
    border-radius: 0;
}

pre {
    padding: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: #f0f0f0;
}

blockquote {
    border-left-style: solid;
    border-width: 5px;
    border-color: #242424;
}