*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console';
}

#title-page {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 0 30%;
    margin-top: 30vh;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#title-page h1 {
    width: 100%;
    margin-bottom: 10px;
}

#footer {
    left: 0;
    width: 40%;
    /* height: 200px; */
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0 30%;
    bottom: 20px;
    transition: left 0.2s ease-out;
    border-color: #989898;
    border-style: solid;
    border-width: 1px;
}

#footer {
    
}

form {
    background-color: white;
}

form {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 1rem;
    border-color: #989898;
    box-shadow: none;
    outline: none;
    display: block;
    box-sizing: border-box;
}

form .user-input {
    font-size: 1.5rem;
    box-sizing: border-box;
    border-width: 0;
    box-sizing: border-box;
    width: 100%;
    max-width:100%;
    height: 2rem;
    padding: 0rem 1rem;
    margin: 0;
    background-color: transparent;
    resize: vertical;
    display: block;
    color: #242424;
}

form .user-input:focus {
    outline: none;
}

#main-page {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

#expand-button {
    margin: 1rem;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.05s ease-in-out;
}

#menu {
    background-color: #f8f8f8;
    height: 100%;
    width: 350px;
    margin-left: -350px;
    transition: 0.2s ease-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #f0f0f0;
    z-index: 4;
}

#menu.open {
    margin-left: 0px;
}

#menu #menu-top {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#menu #menu-top #icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu #close-button {
    width: 50px;
    height: 50px;
    top: 0;
    font-size: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#menu #menu-middle-bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu #menu-middle #query-history {
    height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
}

#menu #menu-middle #query-history-header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

#menu #menu-middle #query-history-header #query-history-header-text {
    padding: 1rem 0;
}

#menu #menu-middle #query-history-header #clear-history {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #242424;
}

#menu #menu-middle #query-history-header #clear-history:hover {
    background-color: #f0f0f0;
}

#menu #menu-middle #query-history .query-history-item {
    padding: 1rem 1.5rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu #menu-middle #query-history .query-history-item:hover {
    background-color: #f0f0f0;
}

#menu #menu-middle #query-history .selected {
    background-color: #f0f0f0;
}

#menu #menu-bottom {
    height: 300px;
}

#menu #menu-bottom .settings-header {
    justify-content: left;
    padding: 0.5rem 1.5rem;
}

#menu #menu-bottom .settings {
    color: #242424;
}

#menu #menu-bottom .settings .settings-item {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: background-color 0.1s ease-out;
    padding: 0.5rem 1.5rem;
}

#menu #menu-bottom .settings .settings-item.toggle-able.selected {
    background-color: #f0f0f0;
}

#menu #menu-bottom .settings .settings-item:hover {
    background-color: #f0f0f0;
}

#menu #menu-bottom .settings .settings-item:hover textarea {
    background-color: #f0f0f0;
}

.settings-item textarea {
    transition: background-color 0.1s ease-out;
    width: 1.5rem;
    height: 1.5rem;
    resize: none;
    scrollbar-width: none;
    text-align: center;
    font-size: 1rem;
    margin-left: 4px;
    border-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    background-color: #f8f8f8;
}

#main-panel {
    flex: 1;
    min-width: 0;
    max-width: 80vw;
    margin: 0 auto;
    height: 100%;
    padding: 3rem;
    justify-content: center;
    border-width: 1px;
    border-color: #989898;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
}

#response {
    /* max-width: 60vw; */
    /* padding-top: 24px; */
    height: 100%;
    /* padding: 2% 5% 5% 5%; */
    background-color: white;
    overflow: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

#response .response-header {
    position: sticky;
    text-align: center;
    padding: 0 0 10px 0;
}

#response .response-content {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Lucida Console';
}

.result-item {
    padding: 0 10px;
    /* border-color: #989898;
    border-width: 1px;
    border-style: solid; */
}

.result-item:hover .result-header {
    border-color: #242424;
}

.result-item .result-header {
    color: #242424;
    /* background-color: #f8f8f8; */
    padding: 6px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    border-style: solid;
    border-width: 1px;
    border-color: #989898;
}

.result-item .result-header a {
    padding: 1px;
    color:#242424;
    text-decoration: none;
}

.result-item .result-header .result-expander {
    width: 40px;
    height: 40px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin: 10px; */
    /* background-color: #f0f0f0; */
}

.result-item .result-content {
    max-height: 600px;
    padding: 0 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    background-color: white;
}

.result-item .result-content ol {
    margin-left: 2rem;
}

.result-item .content-item {
    position: relative;
}

.result-item .content-item .content-header {
    display: flex;
    margin-left: -14px;
    padding: 8px 8px;
    cursor: pointer;
    user-select: none;
}

.result-item .content-item .content-header {
    border-style: solid;
    border-width: 1px;
    border-color: #989898;
    /* border-bottom-width: 0px;
    border-right-width: 0px; */
    /* box-shadow: -2px -2px 4px 2px #d0d0d0; */
}

.result-item .content-item:hover .content-header {
    border-color: #242424;
}

.result-item .content-item .content-header .comment-expander {
    margin-left: 4px;
}

.result-item .content-item .invisible-border {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 16px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}

.result-item .content-item .content-text {
    line-height: 1.5;
    padding: 6px 20px;
    border-left-style: solid;
    border-left-width: 1px;
    /* border-left-color: #a0c58e; */
    border-left-color: #989898;
}

.result-item .content-item:hover .content-text {
    border-left-color: #242424;
}

.result-item .content-item .content-text code {
    padding: 2px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.result-item .content-item .content-text pre code {
    width: auto;
    padding: 0;
    border-radius: 0;
}

.result-item .content-item .content-text pre {
    margin: 4px 0;
    padding: 2px;
    border-radius: 4px;
    width: 100%;
    background-color: #f0f0f0;
    overflow-x: auto;
}

.result-item .content-item .content-text blockquote {
    opacity: 0.7;
    border-left-style: solid;
    border-width: 4px;
    border-color: #242424;
    padding-left: 1rem;
    margin-left: 1rem;
}